@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap");
:root {
  --menu-bg: rgba(107, 105, 105, 0.832);
  --menu-hover-color: #93CC58;
  --text-color: #737373;
  --button-bg: #1D60A6;
  --trails-bg: #93CC58;
  --header-color: #93CC58;
  --card-bg: #ECECEC;
  --upcomin-events-bg: #93CC58;
  --footer-bg: #93CC58;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
html{
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* li {
  list-style: none;
} */
/* NAVBAR STYLING */
.navbar {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--menu-bg);
  z-index: 2;
  padding: 0 20px;
}

.nav-links a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

/* SOCIAL ICONS */
.banner-image {
  position: relative;
}

/* FLICKITY */
.carousel-cell,
.carousel-cell-map {
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.flickity-page-dots {
  bottom: 10px;
  color: #fff;
}

.social-icon {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
  right: 0;
  z-index: 1;
  background-color: rgba(7, 7, 7, 0.434);
  width: 100px;
  padding: 10px 0;
  gap: 5px;
}

.social-icon a:not(:last-child) {
  margin-bottom: 15px;
}
.social-icon img {
  width: 50px;
  margin: 0 auto; 
}
.weather-widget {
  text-align: center;
  color: white;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 16px;
  font-weight: 300;
  list-style-type: none;
}

.menu li a:hover {
  color: var(--menu-hover-color);
}

/* RESPONSIVE NAVBAR MENU STARTS */
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 46px;
}

/* TRAILS RING */
.trails-ring {
  background-color: var(--footer-bg);
  padding: 35px 0;
}

.top-trails-ring {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-trails {
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
}

.trails-heading {
  color: var(--header-color);
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px ;
  padding-left: 10px;
  padding-right: 10px;
}

.trails-text p {
  color: var(--text-color);
  font-size: 17px;
  line-height: 30px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px
}

  .trails-text:last-child {
    padding-bottom: 20px;
  }
  .features-key p {
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0;
    padding-left: 10px;
    padding-right: 10px
  }

  .features-key ul li {
    color: var(--text-color);
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
  }

  .features-key ul li b {
    color: rgb(60, 60, 60);
  }

  .last-para {
    color: var(--text-color);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
  }

/* PERMITS */
.buy-permits {
  background-color: var(--footer-bg);
  padding: 30px 0;
}

.permits-heading h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px
}

/* PERMITS DETAILS */
.permits-cards {
  padding-bottom: 8%;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 25px;
  gap: 50px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px
}

.permits-card-image img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.permits-card-col-1,
.permits-card-col-2,
.permits-card-col-3 {
  border: 3px solid var(--footer-bg);
  border-radius: 20px;
  text-align: center;
  padding-bottom: 20px;
}

hr {
  border: 1px solid var(--text-color);
  margin: 0 70px;
}

.permits-card-title h4 {
  color: var(--header-color);
  font-size: 22px;
  line-height: 30px;
  font-weight: 800;
  padding-top: 18px;
  padding-bottom: 22px;
}

.permits-card-details ul li {
  color: var(--text-color);
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

.day-permit,
.permit-price,
.entries,
.annual-permit {
  list-style-type: none;
}

/* RULES REGULATIONS */
.regulations {
  background-color: var(--card-bg);
  padding-top: 30px;
  padding-bottom: 30px;
}

.rules-regulations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  padding-left: 10px;
  padding-right: 10px
}

.rules-heading h2 {
  color: var(--header-color);
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px
}

.rules-title p {
  color: var(--text-color);
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  padding: 10px 10px;
}

.regulations-items ol li {
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
}

.indemnity p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 10px;
}

.indemnity ul li {
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
}

.indemnity ul li:not(:last-child) {
  margin-bottom: 10px;
}

/* INDEMNITY SECTION */
.indemnity-section {
  border-bottom: 5px solid var(--footer-bg);
  padding-top: 20px;
  padding-bottom: 8%;
}
.indemnity-section .indemnity-heading h2 {
  color: var(--header-color);
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px
}
.indemnity-section .indemnity-sub-title p {
  color: var(--text-color);
  font-size: 17px;
  line-height: 30px;
  padding: 18px 10px;
}
.indemnity-section .indemnity-text {
  color: var(--text-color);
  font-size: 17px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px
}

.footer-link-details li {
  display: flex;
  align-items: center;
}

.footer-link-details .footer-card-title h2 {
  color: var(--header-color);
  text-transform: uppercase;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
}
.footer-link-details .mobile-number a,
.footer-link-details .landline-number a,
.footer-link-details .email-add a {
  font-size: 15px;
  line-height: 26px;
  color: #707070;
}
.footer-link-details .mobile-number,
.footer-link-details .landline-number,
.footer-link-details .email-add {
  padding-left: 10px;
}

.footer-menu-links {
  padding: 15px 0;
}

.footer-menu-links li {
  list-style-type: none;
}

.footer-menu-links a {
  color: #707070;
  font-size: 15px;
  line-height: 29px;
  text-transform: uppercase;
}
.footer-menu-links a:hover {
  color: var(--footer-bg);
}

/* GOOGLE MAP */
.google-map-container {
  position: relative;
  width: 100%;
  padding-bottom: 37.5%; 
  height: 0;
  overflow: hidden;
}

.google-map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

/* FORMIDABLE FORM */

.frm_fields_container {
  display: flex;
  flex-direction: row;
  gap: 10px; 
}
.frm_form_field {
  margin-bottom: 20px;
}

.frm_fields_container input {
  border: 1px solid var(--text-color);
  padding: 10px 10px;
  font-size: 18px;
}

/* Adjust the textarea to be full width */
 .frm_form_field textarea {
  width: 100%;
  border: 1px solid var(--text-color);
  font-size: 18px;
  padding: 10px 10px;
}


/* SUBMIT BUTTON */
.frm_submit {
  padding: 7px 0;
  background-color: var(--button-bg);
  border: none;
  border-radius: 18px;
  width: 120px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.5s linear;
  
}

.frm_submit:hover {
  background-color: #1e183a;
  border-radius: 18px;
  scale: 1.1;
}

.frm_submit::after {
  transition: all 0.5s linear;
}

.frm_submit a {
  color: #fff;
}


/* BOTTOM FOOTER */
.bottom-footer {
  position: relative;
  background-color: var(--footer-bg);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Back to Top button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(7, 7, 7, 0.434);
  padding: 4px;
  display: none; 
}
.back-to-top.show {
  display: block; /* Display when it has the 'show' class */
}

.bottom-footer-title h4 {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}

.bottom-footer-title a {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}

/* MOBILE DEVICES AND SMALLER */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--header-color);
    right: 0;
    left: 0;
    top: 100%;
    text-align: left;
    padding: 16px 5px;
    z-index: 1;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
    color: #fff;
  }
  button {
    margin-top: 20px;
    margin-left: 10px;
  }
  .logo img {
    width: 230px;
    height: 100px;
  }
  .navbar {
    top: 0;
    height: 70px;
  }
  .social-icon img {
    width: 30px;
  }
  .card-body {
    grid-template-columns: 1fr;
  }
  .flickity-prev-next-button {
    top: 35%;
  }
  .permits-heading h2 {
    font-size: 24px;
    line-height: 8px;
  }
  .rules-heading h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .indemnity-section .indemnity-heading h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .rules-regulations {
    grid-template-columns: 1fr;
    gap: 1%;
    padding-left: 10%;
  }
  .footer-row {
    flex-direction: column;
    padding: 40px 10px;
  }
  .footer-card-details {
    text-align: start;
  }
  .footer-link-details li {
    justify-content: start;
  }
  .bottom-footer-title h4 {
    text-align: start;
  }

  .bottom-footer-title h4 {
    font-size: 10px;
  }
  
  .bottom-footer-title a {
    font-size: 10px;
  }

  .frm_fields_container {
    flex-direction: column; 
    margin-top: 20px;
  }
  .frm_form_field input {
    width: 100%;
  }
  .google-map-container {
    width: 100%;
    padding-bottom: 75%; 
  }

  .footer-link-details .mobile-number a,
  .footer-link-details .landline-number a,
  .footer-link-details .email-add a {
    font-size: 18px;
    line-height: 30px;
  }

  .carousel-nav-shop,
  .carousel-nav-cafe,
  .carousel-nav-wildlife {
    display:  none;
  }

  .frm-g-recaptcha {
    margin-top: 20px;
  }

  .social-icon img {
    width: 50px;
    margin: 0 auto;
  }

  .mobile-banner {
    display: block;
  }
  .desktop-banner {
    display: none;
  }

}


/* TABLET DEVICES */
@media (min-width: 769px) {
  .mobile-banner {
    display: none;
  }
  .desktop-banner {
    display: block;
  }

  .footer-row {
    flex-direction: column;
    padding: 40px 10px;
  }
  .footer-card-details {
    text-align: start;
  }
  .footer-link-details li {
    justify-content: start;
  }

    .footer-link-details .mobile-number a,
    .footer-link-details .landline-number a,
    .footer-link-details .email-add a {
      font-size: 18px;
      line-height: 30px;
    }
    .frm_fields_container {
      flex-direction: column; 
    }
    .frm_form_field input {
      width: 100%;
    }
    .google-map-container {
      width: 100%;
      padding-bottom: 75%; 
    }

    .frm-g-recaptcha {
      margin-top: 20px;
    }
}


/* DESKTOP AND LARGE DEVICES */
@media (min-width: 1024px) {
  .footer-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 40px 10px;
    gap: 20px;
  }
  .footer-link-details li {
    justify-content: start;
  }
  .footer-card-details {
    text-align: left;
  }

  .google-map-container {
    position: relative;
    width: 45%;
    padding-bottom: 37.5%; /* 2:1 Aspect Ratio (divide height by width and multiply by 100) */
    height: 0;
    overflow: hidden;
  }
  
  .google-map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .frm_fields_container {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }
  .frm_form_field {
    margin-bottom: 20px;
  }
  
  .frm_fields_container input {
    border: 1px solid var(--text-color);
    padding: 10px 10px;
    font-size: 18px;
  }
  
  /* Adjust the textarea to be full width */
   .frm_form_field textarea {
    width: 100%;
    border: 1px solid var(--text-color);
    font-size: 18px;
    padding: 10px 10px;
  }

}
/*# sourceMappingURL=style.css.map */